<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018726814342-bqpcpu23eookv8km3l4h9sqsnu7itqj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018726814342-bqpcpu23eookv8km3l4h9sqsnu7itqj2</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ0wpOR32irTLsWw_xv8bDnHgkYjD7BzM</string>
	<key>GCM_SENDER_ID</key>
	<string>1018726814342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>ignitelab-rockethelp-fe382</string>
	<key>STORAGE_BUCKET</key>
	<string>ignitelab-rockethelp-fe382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018726814342:ios:acfebbf1ef8038f6d33707</string>
</dict>
</plist>